<%- include('./partials/home_nav.ejs')%>

<style>
  body {
      font-family: 'Arial', sans-serif;
      line-height: 1.6;
      margin: 0;
      padding: 0;
      background-color: #f4f4f4;
      color: #333;
  }

  header {
      background-color: #1e90ff;
      color: #fff;
      text-align: center;
      padding: 1em 0;
  }

  section {
      max-width: 800px;
      margin: 20px auto;
      padding: 20px;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
  }

  h3 {
      color: #1e90ff;
      text-align: center;
      margin-bottom: 20px; 
      font-family: 'Arial', sans-serif;
  }

  p {
      margin-bottom: 1.25em;
  }
  h5 {
    font-family: 'Arial', sans-serif;
  }

  summary {
      font-weight: bold;
      color: #1e90ff;
      cursor: pointer;
  }
</style>
<title>Collaborative Learning Platform</title>
</head>

<body>

<section>
    <h3>Embark on a Journey of Shared Learning Experiences</h3>


  <p>This platform is designed for individuals who are passionate about learning and sharing their knowledge with
      others. Explore diverse blogs on various topics and engage in collaborative learning experiences.</p>

  <h5>Key Features:</h5>
  <ul>
      <li>Express Your Thoughts</li>
      <li>Read Blogs on Various Topics</li>
      <li>Collaborative Learning</li>
      <li>Summarization Feature</li>
      <li>Decision-Making Support</li>
      <li>Create Chat--Room</li>
      <li>Categorization Based on Academic, Non-Academic and Other </li>
  </ul>

  <h5>Benefits:</h5>
  <ul>
      <li>Knowledge Sharing</li>
      <li>Community Building</li>
      <li>Time-Efficient</li>
      <li>Personalized Learning</li>
      <li>Interactive Learning</li>
  </ul>

  <p>Make the most of this platform and start your journey towards continuous learning!</p>
</section>


<%- include('./partials/footer.ejs')%>

