
<%- include('./partials/home_nav.ejs')%>
<div class="container mt-5">
    <p>This is a collaborative learning platform (<b style="color:blue">COLP</b>) where you can express your thought <br></p>
</div>

<%- include('./partials/footer.ejs')%>