<%- include('./partials/home_nav.ejs')%>
<div class="container mt-5">
  <p>
    This is a collaborative learning platform (<b style="color: blue">COLP</b>)
    where you can express your thought. Read blog about various topic. One can
    also see the summarize form of the large blog and decide whether this belog
    is helpful to him/her. <br />
  </p>
</div>

<%- include('./partials/footer.ejs')%>
