<%- include('./partials/home_nav.ejs')%>

<div class="container">
  <div class="main">
    <h3>What's On Your Mind</h3>
    <br />
  </div>

  <!-- Category Selection Form -->
  <form action="/users/post" method="POST">
    <div class="form-group">
      <label for="category">Select Category:</label>
      <select class="form-control" id="category" name="category" required>
        <option value="" disabled selected>Select a category</option>
        <% categories.forEach(category => { %>
        <option value="<%= category %>"><%= category %></option>
        <% }); %>
      </select>
    </div>
    <!-- Title Form -->
    <div class="form-group">
      <label for="post-title" class="title">Title</label>
      <input
        type="text"
        name="title"
        class="form-control"
        id="post-title"
        placeholder=""
        required
      />
    </div>

    <!-- Content Form -->
    <div class="mb-3">
      <label for="editor-container" class="form-label">Description</label>
      <div id="editor-container">
        <div id="editor" style="height: 300px"></div>
      </div>
      <input type="hidden" id="desc" name="desc" />
    </div>
    <button type="submit" class="btn btn-primary">Publish</button>
  </form>
</div>

<%- include('./partials/footer.ejs')%>
<!-- Include Quill library -->
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

<!-- Initialize Quill -->
<script>
  var quill = new Quill("#editor", {
    theme: "snow",
    placeholder: "Write your content...",
    modules: {
      toolbar: [
        [{ header: [1, 2, 3, false] }],
        ["bold", "italic", "underline", "strike"],
        [{ align: [] }],
        ["image", "blockquote", "code-block"],
        [{ list: "ordered" }, { list: "bullet" }],
        ["link", "video"],
        ["clean"],
      ],
    },
  });

  // Listen for the form submission
  document.querySelector("form").onsubmit = function () {
    // Get the HTML content from Quill
    document.getElementById("desc").value = quill.root.innerHTML;
  };
</script>
