body{
    margin:0px;
    color:aqua;
    background-color: brown;
}
p{
    text-align: center;
    text-decoration: solid;
    color: aqua;
    /* background-color: rgb(201, 182, 219); */
}
.container{
    font-family: serif;
    /* background-color: rgba(204, 235, 171, 0.323); */
}
body{
    font-family: serif;
    margin:0px;
    padding: 0px;
    /* color:aqua; */
}
p{
    text-align: center;
    text-decoration: solid;
    color: rgb(20, 23, 23);
    /* background-color: rgb(200, 188, 212); */
}
footer{
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    font-weight: 200;
    text-align: center;
    margin-bottom: 8px;
    background-color: aqua;
}
.background-radial-gradient {
    background-color: hsl(218, 41%, 15%);
    background-image: radial-gradient(650px circle at 0% 0%,
        hsl(218, 41%, 35%) 15%,
        hsl(218, 41%, 30%) 35%,
        hsl(218, 41%, 20%) 75%,
        hsl(218, 41%, 19%) 80%,
        transparent 100%),
      radial-gradient(1250px circle at 100% 100%,
        hsl(218, 41%, 45%) 15%,
        hsl(218, 41%, 30%) 35%,
        hsl(218, 41%, 20%) 75%,
        hsl(218, 41%, 19%) 80%,
        transparent 100%);
  }

  #radius-shape-1 {
    height: 220px;
    width: 220px;
    top: -60px;
    left: -130px;
    background: radial-gradient(#44006b, #ad1fff);
    overflow: hidden;
  }

  #radius-shape-2 {
    border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
    bottom: -60px;
    right: -110px;
    width: 300px;
    height: 300px;
    background: radial-gradient(#44006b, #ad1fff);
    overflow: hidden;
  }

  .bg-glass {
    background-color: hsla(0, 0%, 100%, 0.9) !important;
    backdrop-filter: saturate(200%) blur(25px);
  }
  .right_navitem{
    float: right;
    list-style-type: none;
    color:brown;
    padding-right: 10px;
    padding-left: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }